/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #A90000; color: #fff; text-shadow: none; }
::selection { background: #A90000; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/*Site*/
body
{ background: url(../img/bg.png); font-family: 'Bree Serif', serif; }

#page {
  position: relative;
  margin: 0 auto;
  width: 720px;
  color: #666;
}
#page h1,
#page h2 {
  text-shadow: 0 2px 3px #ccc;
  color: #444;
  margin: 0;
}
#page p {
  text-shadow: 0 1px 1px #f1f1f1;
}
#page a {
  color: #444;
}
#page section {
  padding-top: 65px;
}
#page section nav {
  text-align: right;
}
#page section nav li {
  display: inline;
}
#menu {
  background: #444;
  position: fixed;
  width: 100%;
  height: 40px;
  z-index: 10;
}
#menu ul {
  margin: 0 auto;
  width: 720px;
}
#menu li {
  line-height: 40px;
  display: inline;
  padding-right: 40px;
}
#menu li.current a {
  color: #c4c4c4;
}
#menu a {
  text-decoration: none;
  color: #f4f4f4;
}
#notification {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  border-radius: 0 0 5px 5px;
  position: absolute;
  padding: 5px 10px;
  margin: 0 auto;
  width: 300px;
  left: 50%;
  top: 40px;
  margin-left: -150px;
  color: #fff;
}
.error {
  background: #9E0000;
}
.success {
  background: #4A8F1A;
}
#contact h2 {
  margin-bottom: 35px;
}
#contact-form {
  width: 350px;
}
.input-data {
  margin-bottom: 15px;
}
.input-data input {
  height: 35px;
}
.input-data textarea {
  height: 150px;
}
.input-data input,
.input-data textarea {
  border: 1px solid #c1c1c1;
  padding: 5px;
  width: 340px;
}
#contact article {
  text-align: right;
  width: 330px;
}
#contact article * {
  margin: 0;
}
#contact article p:last-child {
  margin: 30px 0;
  color: #999;
}
#projects h2 {
  margin-bottom: 35px;
}
#projects-list {
  position: relative;
  overflow: hidden;
  height: 505px;
}
#projects ul {
  padding: 0;
  margin: 0;
}
#projects li {
  position: relative;
  border: 5px solid #fff;
  margin: 0 10px 10px 0;
  list-style: none;
  height: 220px;
  width: 220px;
  float: left;
}
#projects li div {
  font-family: Arial, Verdana, sans-serif;
  background-color: rgba(6, 2, 6, 0.8);
  color: rgba(6, 2, 6, 0.8);
  position: absolute;
  font-size: 12px;
  padding: 10px;
  height: 200px;
  width: 200px;
  left: 0;
  top: 0;
}
#p-nav {
  position: absolute;
  bottom: 0;
  right: 0;
}
#p-nav * {
  text-decoration: none;
  float: left;
  padding: 10px;
}
#p-nav .activeSlide {
  color: #000;
}
#projects li div h3,
#projects li div a {
  color: #fff;
}
#projects li div a {
  text-decoration: none;
}
#projects li div a:hover {
  font-weight: 700;
}
#projects li p {
  text-shadow: none;
  color: #fff;
  margin: 0;
}

#python-topics h3,
#pagsegurobox h2 {
  margin: 10px 0 5px;
  color: #A90000;
}
#python-topics p,
#python-topics li {
  font-family: Arial, Verdana, sans-serif;
  font-size: 13px;  
}
#python-topics p {
  padding-left: 30px;
  margin-top: 0;
}
a.cupid-green {
  margin: 0 auto;
  display: block;
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff !important;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 7px 0 8px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px; }
  a.cupid-green:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer; }
  a.cupid-green:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }

#pagsegurobox {
  width: 350px
}
#pagsegurobox form {
  width: 250px;
  margin: 0 auto;
}
#pagsegurobox .input-text {
  margin: 10px 0;
  width: 250px;
}
#pagsegurobox label {
  width: 100%;
  float: left;
}
#pagsegurobox .input-text input {
  height: 30px;
  width: 250px;
}
#pagsegurobutton {
  display: none;
}

@media only screen and (min-width: 35em) {


}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.fl { float: left; }
.fr { float: right; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
